Component Programming/StaffSystem/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStaffResult" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DoB" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="JoinDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Admin" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Employed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Entitlement" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetManagement">
        <s:complexType />
      </s:element>
      <s:element name="GetManagementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManagementResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSeniors">
        <s:complexType />
      </s:element>
      <s:element name="GetSeniorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSeniorsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalRoleNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalRoleNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalRoleNumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalDepartmentNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalDepartmentNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalDepartmentNumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedHolidays">
        <s:complexType />
      </s:element>
      <s:element name="GetApprovedHolidaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApprovedHolidaysResult" type="tns:ArrayOfHolidays" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHolidays">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Holidays" nillable="true" type="tns:Holidays" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Holidays">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Staff" type="tns:Employee" />
          <s:element minOccurs="1" maxOccurs="1" name="Start" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="End" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Pending" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Approved" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Canceled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PeakTotal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOutstandingHolidays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutstandingHolidaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutstandingHolidaysResult" type="tns:ArrayOfHolidays" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitBookingResponse">
        <s:complexType />
      </s:element>
      <s:element name="DefaultOnDuty">
        <s:complexType />
      </s:element>
      <s:element name="DefaultOnDutyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefaultOnDutyResult" type="tns:CapacityDates" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CapacityDates">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Minimum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Start" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="End" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Annual" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Peak" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPeriodTimes">
        <s:complexType />
      </s:element>
      <s:element name="GetPeriodTimesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPeriodTimesResult" type="tns:ArrayOfCapacityDates" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCapacityDates">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CapacityDates" nillable="true" type="tns:CapacityDates" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetStaffSoapIn">
    <wsdl:part name="parameters" element="tns:GetStaff" />
  </wsdl:message>
  <wsdl:message name="GetStaffSoapOut">
    <wsdl:part name="parameters" element="tns:GetStaffResponse" />
  </wsdl:message>
  <wsdl:message name="GetManagementSoapIn">
    <wsdl:part name="parameters" element="tns:GetManagement" />
  </wsdl:message>
  <wsdl:message name="GetManagementSoapOut">
    <wsdl:part name="parameters" element="tns:GetManagementResponse" />
  </wsdl:message>
  <wsdl:message name="GetSeniorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSeniors" />
  </wsdl:message>
  <wsdl:message name="GetSeniorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSeniorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalRoleNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalRoleNum" />
  </wsdl:message>
  <wsdl:message name="GetTotalRoleNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalRoleNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalDepartmentNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalDepartmentNum" />
  </wsdl:message>
  <wsdl:message name="GetTotalDepartmentNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalDepartmentNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprovedHolidaysSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprovedHolidays" />
  </wsdl:message>
  <wsdl:message name="GetApprovedHolidaysSoapOut">
    <wsdl:part name="parameters" element="tns:GetApprovedHolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutstandingHolidaysSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutstandingHolidays" />
  </wsdl:message>
  <wsdl:message name="GetOutstandingHolidaysSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutstandingHolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitBookingSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitBooking" />
  </wsdl:message>
  <wsdl:message name="SubmitBookingSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitBookingResponse" />
  </wsdl:message>
  <wsdl:message name="DefaultOnDutySoapIn">
    <wsdl:part name="parameters" element="tns:DefaultOnDuty" />
  </wsdl:message>
  <wsdl:message name="DefaultOnDutySoapOut">
    <wsdl:part name="parameters" element="tns:DefaultOnDutyResponse" />
  </wsdl:message>
  <wsdl:message name="GetPeriodTimesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPeriodTimes" />
  </wsdl:message>
  <wsdl:message name="GetPeriodTimesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPeriodTimesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <wsdl:input message="tns:GetStaffSoapIn" />
      <wsdl:output message="tns:GetStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManagement">
      <wsdl:input message="tns:GetManagementSoapIn" />
      <wsdl:output message="tns:GetManagementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSeniors">
      <wsdl:input message="tns:GetSeniorsSoapIn" />
      <wsdl:output message="tns:GetSeniorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalRoleNum">
      <wsdl:input message="tns:GetTotalRoleNumSoapIn" />
      <wsdl:output message="tns:GetTotalRoleNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalDepartmentNum">
      <wsdl:input message="tns:GetTotalDepartmentNumSoapIn" />
      <wsdl:output message="tns:GetTotalDepartmentNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovedHolidays">
      <wsdl:input message="tns:GetApprovedHolidaysSoapIn" />
      <wsdl:output message="tns:GetApprovedHolidaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingHolidays">
      <wsdl:input message="tns:GetOutstandingHolidaysSoapIn" />
      <wsdl:output message="tns:GetOutstandingHolidaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBooking">
      <wsdl:input message="tns:SubmitBookingSoapIn" />
      <wsdl:output message="tns:SubmitBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefaultOnDuty">
      <wsdl:input message="tns:DefaultOnDutySoapIn" />
      <wsdl:output message="tns:DefaultOnDutySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPeriodTimes">
      <wsdl:input message="tns:GetPeriodTimesSoapIn" />
      <wsdl:output message="tns:GetPeriodTimesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <soap:operation soapAction="http://tempuri.org/GetStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagement">
      <soap:operation soapAction="http://tempuri.org/GetManagement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeniors">
      <soap:operation soapAction="http://tempuri.org/GetSeniors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalRoleNum">
      <soap:operation soapAction="http://tempuri.org/GetTotalRoleNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalDepartmentNum">
      <soap:operation soapAction="http://tempuri.org/GetTotalDepartmentNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedHolidays">
      <soap:operation soapAction="http://tempuri.org/GetApprovedHolidays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingHolidays">
      <soap:operation soapAction="http://tempuri.org/GetOutstandingHolidays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBooking">
      <soap:operation soapAction="http://tempuri.org/SubmitBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultOnDuty">
      <soap:operation soapAction="http://tempuri.org/DefaultOnDuty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodTimes">
      <soap:operation soapAction="http://tempuri.org/GetPeriodTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <soap12:operation soapAction="http://tempuri.org/GetStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagement">
      <soap12:operation soapAction="http://tempuri.org/GetManagement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeniors">
      <soap12:operation soapAction="http://tempuri.org/GetSeniors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalRoleNum">
      <soap12:operation soapAction="http://tempuri.org/GetTotalRoleNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalDepartmentNum">
      <soap12:operation soapAction="http://tempuri.org/GetTotalDepartmentNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedHolidays">
      <soap12:operation soapAction="http://tempuri.org/GetApprovedHolidays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingHolidays">
      <soap12:operation soapAction="http://tempuri.org/GetOutstandingHolidays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBooking">
      <soap12:operation soapAction="http://tempuri.org/SubmitBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultOnDuty">
      <soap12:operation soapAction="http://tempuri.org/DefaultOnDuty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodTimes">
      <soap12:operation soapAction="http://tempuri.org/GetPeriodTimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:49270/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:49270/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>